<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

Like:


<fblike></fblike>
<app-course></app-course>
<app-favorite></app-favorite>
<br/>
<app-heart
  [likesCount]="tweet.likesCount"
  [isActive]="tweet.isLiked"></app-heart>

<zippy title="Shipping Details" title2="works!">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy>
<course-admin></course-admin>
<signup-form></signup-form>
<password-form></password-form>

